#bloc_titre {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  width : 10%;
  height: auto;
}

#barre_menu, .sous_menu_cache {
  list-style: none;
  margin: 0;
  padding: 0;
}

#barre_menu {
  display: inline-flex;
  width: 100%;
}

.sous_menu {
  width: 50%;
  text-align: center;
}

.sous_menu_cache li {
  height: 0;
  overflow: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

input:checked + .sous_menu_cache li {
  height: 2em;
  padding: 0.7em;
  opacity: 1;
}

.sous_menu {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: linear-gradient(#456,#425);
}

label {
  width:100%;
}

.icone {
  height:1.5em;
}
