#bloc_titre {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  width : 10%;
  height: auto;
}

#barre_menu {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.sous_menu {
  flex-grow: 1;
  text-align: center;
}

.sous_menu_cache {
  display: none;
}

.sous_menu_cache p {

}

.sous_menu:hover .sous_menu_cache {
  display: block;
}
